.headcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  .link {
    color: white;
    font-size: 2rem;
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem 1rem;
  align-items: center;
  justify-items: center;
  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
  .image {
    width: 100%;
    object-fit: contain;
  }
}
