@use "mixins" as *;

.renderBox {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  @include mediumScreen() {
    flex-direction: row;
  }
  gap: 2rem;
}
